:host {
  --item-gap: 16px;

  display: grid;
  gap: var(--item-gap);
  padding-block: var(--item-gap);
  overflow-y: auto;
}

h3,
p {
  margin: 0;
}

p {
  margin-top: calc(var(--item-gap) * 0.3);

  &:first-child {
    margin-top: var(--item-gap);
  }
}

.item-wrapper {
  interpolate-size: allow-keywords;
  height: auto;
  display: grid;
  transition: height 0.3s ease-in-out, background 0.3s ease-in-out;

  @media (width >=1024px) {
    &.active {
      background: grey;
      height: 30vh;
      align-items: center;
    }
  }
}

.item {
  color: inherit;
  text-decoration: none;
}

.options {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.6;
}