:host {
  --item-gap: 16px;

  display: block;
  padding-block: var(--item-gap);
}

h3,
p {
  margin: 0;
}

h3 {
  margin-top: var(--item-gap);
}

p {
  margin-top: calc(var(--item-gap) * 0.3);

  &:first-child {
    margin-top: var(--item-gap);
  }
}

.options {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.6;
}