:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  @media (width < 1024px) {
    grid-template-columns: 1fr;

  }
}

.map-wrapper {
  height: 100%;
  width: 100%;
  background: beige;
  position: relative;
  overflow: clip;
}