:host {
  display: block;
  position: fixed;
  top: 16px;
  left: 16px;
  right: 16px;

  @media (width >=1024px) {
    position: sticky;
  }
}

.search-input {
  height: 40px;
  width: 90%;
  font-size: inherit;
  padding: 0 16px;
}